ul {
  list-style: none;
  margin: 0;
}
a {
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
}
.navbar {
  height: 60px;
  background-color: yellow;
  padding: 0 1rem;
  border-bottom: green;
}
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: black;
}

.nav-item {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.nav-link {
  padding: 5px 10px;
  margin: 5px;
  outline: none;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  background-color: goldenrod;
  transition: filter 300ms;
}

.nav-link :hover {
  filter: brightness(1.2);
}

.dropdown {
  position: absolute;
  top: 120px;
  width: 100%;
  background-color: azure;
  border: red;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  padding: 0.4rem;
  transition: background 0.3s;
}

.dropdown-item:hover {
  background-color: #595757;
}

.support img {
  width: 100%;
  height: 100%;
}

.dropdown-item h4 {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.dropdown-item p {
  letter-spacing: 2px;
  line-height: 25px;
  font-size: 18px;
}

.dropdown-item ul li {
  display: block;
  padding: 10px 0;
  text-align: left;
}

.dropdown-item ul li a {
  text-transform: capitalize;
  font-size: 22px;
  margin-top: 10px;
  padding: 0 10px;
}
