@font-face {
  font-family: "sans";
  src: local("sans"), url(./assets/fonts/sans.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "sans";
  -webkit-font-smoothing: sans;
  -moz-osx-font-smoothing: sans;
}

code,
p,
span,
input[type="text"] {
  font-family: sans;
}
