/* add media section */

.addMediaSection {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 98%;
  margin: auto;
  border: 4px dashed #b4b9be;
  min-height: 400px;
  height: auto;
  padding-bottom: 110px;
}

.filePreview {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
  margin: auto;
}

.filePreview img {
  width: 100%;
  height: 170px;
}

.file {
  width: 22.5%;
  margin: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  position: relative;
  text-align: center;
  padding: 5px;
}

.removeIcon {
  position: absolute;
  left: 10px;
  top: 10px;
  color: red;
  cursor: pointer;
}

.dragDropSection {
  width: "250px";
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.fileSelection {
  padding: 0.5rem 0.75rem;
  font-size: 1.256 rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  background-color: #20a8d8;
  border-color: #20a8d8;
  margin-top: 15px;
  color: #fff;
}

input[type="file"] {
  display: none;
}

.uploadText {
  padding: 0px 10px;
}
.dragOver {
  border: 4px dashed #e74529;
}

/* end of add media section */

/* media section */

.mediaSection {
  width: 100%;
  /* margin: auto; */
}
.media {
  margin-top: 10px;
  margin-bottom: 10px;
}
.media img {
  width: 100%;
  height: 136px;
  cursor: pointer;
}

.centerIcon {
  display: flex;
  margin: auto;
}

.infoModal img {
  width: 100%;
}
/* end of media section */
